
.btn{
    display: inline-block;
    width: 150px;
    height: 100px;
    font-size:30px;
    position: relative;
    
}

#regionInfo{
    font-size: 14px;
    color:#000000;
    border:#000000 solid 1px;
    justify-content: flex-end;
    height: 330px;
    margin-left: 120px

}



#modal1{
    border:1px solid purple;
}

#modal2{
    border:1px solid red;
}

#btn1{
    display: inline-block;
    width:150px;
    height:100px;
    font-size:30px;
    position: relative;
}

#btn2{
    display: inline-block;
    width:150px;
    height: 100px;
    font-size:30px;
    position: relative;
}

#image1{
    height: 330px;
    border: 1px solid;
}

#image1 > img{
    height: 100%;
}
.region-area{
    display:flex;
}

#date1{
    font-size:20px;
}

#date2{
    font-size:20px;
}